
/MP1/.idea/
/MP1/html/
/MP1/latex/
/MP1/out/
/MP0/
/.idea/
/MP2/.idea/
/MP3/.idea/
/Project/
MP3/app.py
MP3/model.py
MP3/model.pyc
MP3/svn.db
MP3/svn_list.xml
MP3/svn_log.xml
MP3/test.py
MP3/utils/__init__.pyc
MP3/utils/parse.pyc
Project/Backend/LDA.py
Project/Backend/parse.py
Project/Backend/parse.pyc
Project/Backend/recommend.py
Project/Backend/recommend.pyc
Project/Backend/restaurant.db
Project/Backend/server.py
Project/Backend/server.pyc
Project/Backend/setup.py
Project/Backend/test.py
Project/Frontend/.gradle/
Project/Frontend/Frontend.iml
Project/Frontend/app/.gitignore
Project/Frontend/app/app.iml
Project/Frontend/app/build.gradle
Project/Frontend/app/proguard-rules.pro
Project/Frontend/app/src/androidTest/
Project/Frontend/app/src/main/AndroidManifest.xml
Project/Frontend/app/src/main/java/com/example/samuel/finalproject/Comment.java
Project/Frontend/app/src/main/java/com/example/samuel/finalproject/CommentListAdapter.java
Project/Frontend/app/src/main/java/com/example/samuel/finalproject/Dish.java
Project/Frontend/app/src/main/java/com/example/samuel/finalproject/DishInfoActivity.java
Project/Frontend/app/src/main/java/com/example/samuel/finalproject/DishListAdapter.java
Project/Frontend/app/src/main/java/com/example/samuel/finalproject/HomeActivity.java
Project/Frontend/app/src/main/java/com/example/samuel/finalproject/LoginActivity.java
Project/Frontend/app/src/main/java/com/example/samuel/finalproject/RegisterActivity.java
Project/Frontend/app/src/main/java/com/example/samuel/finalproject/Restaurant.java
Project/Frontend/app/src/main/java/com/example/samuel/finalproject/RestaurantActivity.java
Project/Frontend/app/src/main/java/com/example/samuel/finalproject/RestaurantListAdapter.java
Project/Frontend/app/src/main/java/com/example/samuel/finalproject/SimilarDishActivity.java
Project/Frontend/app/src/main/java/com/example/samuel/finalproject/Utils.java
Project/Frontend/app/src/main/res/drawable/comment.png
Project/Frontend/app/src/main/res/drawable/delete.png
Project/Frontend/app/src/main/res/drawable/dish0.jpg
Project/Frontend/app/src/main/res/drawable/dish1.jpg
Project/Frontend/app/src/main/res/drawable/dish2.jpg
Project/Frontend/app/src/main/res/drawable/dish3.jpg
Project/Frontend/app/src/main/res/drawable/dish4.jpg
Project/Frontend/app/src/main/res/drawable/dish5.jpg
Project/Frontend/app/src/main/res/drawable/dish536.jpg
Project/Frontend/app/src/main/res/drawable/dish537.jpg
Project/Frontend/app/src/main/res/drawable/dish538.jpg
Project/Frontend/app/src/main/res/drawable/dish539.jpg
Project/Frontend/app/src/main/res/drawable/dish540.jpg
Project/Frontend/app/src/main/res/drawable/dish557.jpg
Project/Frontend/app/src/main/res/drawable/home.png
Project/Frontend/app/src/main/res/drawable/like.png
Project/Frontend/app/src/main/res/drawable/liked.png
Project/Frontend/app/src/main/res/drawable/notification.png
Project/Frontend/app/src/main/res/drawable/orange_chicken.jpg
Project/Frontend/app/src/main/res/drawable/search.png
Project/Frontend/app/src/main/res/layout/
Project/Frontend/app/src/main/res/menu/menu_dish.xml
Project/Frontend/app/src/main/res/menu/menu_home.xml
Project/Frontend/app/src/main/res/menu/menu_restaurant.xml
Project/Frontend/app/src/main/res/mipmap-hdpi/
Project/Frontend/app/src/main/res/mipmap-mdpi/
Project/Frontend/app/src/main/res/mipmap-xhdpi/
Project/Frontend/app/src/main/res/mipmap-xxhdpi/
Project/Frontend/app/src/main/res/mipmap-xxxhdpi/
Project/Frontend/app/src/main/res/values-w820dp/
Project/Frontend/app/src/main/res/values/
Project/Frontend/app/src/test/
Project/Frontend/build.gradle
Project/Frontend/build/
Project/Frontend/gradle.properties
Project/Frontend/gradle/
Project/Frontend/gradlew
Project/Frontend/gradlew.bat
Project/Frontend/local.properties
Project/Frontend/settings.gradle
/Project/Backend/
