{% extends "base.html" %}
{% block container %}
<!-- Page Header -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Portfolio
        </h1>
    </div>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row">
    <div class="col-md-4 portfolio-item">
        <h3>
            <a href="assignment0">Assignment0</a>
        </h3>
        <p>Getting Started</p>
    </div>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row">
    <div class="col-md-4 portfolio-item">
        <h3>
            <a href="assignment1.0">Assignment1.0</a>
        </h3>
        <p>Chess</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <h3>
            <a href="assignment1.1">Assignment1.1</a>
        </h3>
        <p>Chess</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <h3>
            <a href="assignment1.2">Assignment1.2</a>
        </h3>
        <p>Chess</p>
    </div>
</div>

<!-- Projects Row -->
<div class="row">
    <div class="col-md-4 portfolio-item">
        <h3>
            <a href="assignment2.0">Assignment2.0</a>
        </h3>
        <p>CS Air</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <h3>
            <a href="assignment2.1">Assignment2.1</a>
        </h3>
        <p>CS Air</p>
    </div>
</div>
<!-- /.row -->
{% endblock %}
